.button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color:#0C9;
    border: none;
    color:white;
}

.button:hover{
    transform: scale(1.07);
}

.inline{
    display: inline-block;
}