<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/fab.css">
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<link rel="stylesheet" type="text/css" href="/static/css/rgb.css">
<link rel="stylesheet" type="text/css" href="/static/css/button.css">
<link rel="stylesheet" type="text/css" href="/static/css/lights.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/moment.min.js"></script>

</head>
<body>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<div id="LightSelector" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="light">
      <h1 id="IoTLight">Smart Light</h1>
      <button class="button inline" id="Light_On" onclick="Lights(this)" value="1">On</button>
      <button class="button inline" id="Light_Off" onclick="Lights(this)" value="0">Off</button>
      <h2 id="LightStatusMessage"></h2>
    </div>
  </div>

</div>

<div id="LightRBSelector" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="light">
      <h1 id="IoTRGBLight">RGB Light</h1>
      <button class="button inline" id="RGB_On" onclick="RGB(this)" value="1">On</button>
      <button class="button inline" id="RGB_Off" onclick="RGB(this)" value="0">Off</button>
        <h2 class="RGB_Status" id="RGB_status_Message"></h2>
    </div>

    <div class="light" id="RGB_Color">
      <label class="orange">
        <input type="radio" name="color" value="orange">
        <div class="layer"></div>
        <div class="button" id="Orange" onclick="RGB_Color(this)"><span></span></div>
      </label>

      <label class="amber">
        <input type="radio" name="color" value="amber">
        <div class="layer"></div>
        <div class="button" id="Amber" onclick="RGB_Color(this)"><span></span></div>
      </label>

      <label class="lime">
        <input type="radio" name="color" value="lime">
        <div class="layer"></div>
        <div class="button" id="Lime" onclick="RGB_Color(this)"><span></span></div>
      </label>

      <label class="teal">
        <input type="radio" name="color" value="teal">
        <div class="layer"></div>
        <div class="button" id="Teal" onclick="RGB_Color(this)"><span></span></div>
      </label>

      <label class="blue">
        <input type="radio" name="color" value="blue">
        <div class="layer"></div>
        <div class="button" id="Blue" onclick="RGB_Color(this)"><span></span></div>
      </label>

      <label class="indigo">
        <input type="radio" name="color" value="indigo">
        <div class="layer"></div>
        <div class="button" id="Indigo" onclick="RGB_Color(this)"><span></span></div>
      </label>
    </div>

    <div id="RGB_status" class="RGBLight">
      <h3 class="RGB_Color" id="RGB_Colors"></h3>
    </div>
  </div>
</div>

<!-- partial:index.partial.html -->
<div class="app">
  <header class="header">
    <div class="header__left">
      <span>Home</span>
    </div>
    <div class="header__right">
      <p id="date">Thu, 14 Jun | 06:20 AM</p>
    </div>
  </header>
  
  <nav class="nav">
    <ul class="nav__menu">
      <li class="nav__item">
        <a href="#Engineering_Lab" class="nav__link" data-scroll-to>
          <div class="media">
            <img src="image/room/Robotics_Lab.jpg" alt="" class="media__img">
            <p class="media__content">
              <strong>Engineering Lab</strong><br />
              UAT
            </p>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#Makers_Lab" class="nav__link" data-scroll-to>
          <div class="media">
            <img src="image/room/Maker_Space.jpg" alt="" class="media__img">
            <p class="media__content">
              <strong>Maker's Lab</strong><br />
              UAT
            </p>
          </div>
        </a>
      </li>
      <!--<li class="nav__item">
        <a href="#newyork" class="nav__link" data-scroll-to>
          <div class="media">
            <img src="https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=2000" alt="" class="media__img">
            <p class="media__content">
              <strong>New York</strong><br />
              USA
            </p>
          </div>
        </a>
      </li>-->
    </ul>
    <a href="#" class="float" id="Add_Room" onclick="getButton(this)">
      <img src="/static/image/plus.png" width="15px" height="15px" class="my-float"/>
    </a>
  </nav>
  
  <main class="main">
    <article class="section" id="Engineering_Lab" data-section>
    <header class="section__header" style="background-image: url('/static/image/room/Robotics_Lab.jpg');">
      <h1 class="section__title">Engineering Lab</h1>
      <p class="section__subtitle ">33.378°N, -111.976°W</p>
      <div class="section__controls">
        <button class="btn btn--prev" title="Previous">
          <span class="arrow arrow--left"></span>
        </button>
        <button class="btn btn--next" title="Next">
          <span class="arrow arrow--right"></span>
        </button>
        <div class="user">
          <img src="https://source.unsplash.com/200x200/?people" class="user__img" alt="" />
          <span class="user__name">Jamie</span>
        </div>
      </div>
    </header>
    <div class="section__content">
      <ul class="boxgrid">
        <li class="boxgrid__item">
          <a href="#" class="box box--weather">
            <p><span class="text--large">27°C</span><br />Cloudy</p>
          </a>
        </li>
        <li class="boxgrid__item boxgrid__item--wide" id="Engineering_Lab_Light" onclick="getButton(this)">
          <a href="#" class="box box--image">
            <img src="/static/image/iotTile/Light4.jpg" class="box__img" alt="" />
          </a>
        </li>
        <li class="boxgrid__item boxgrid__item--push" id="Engineering_Lab_RGB" onclick="getButton(this)">
          <a href="#" class="box box--image">
            <img src="/static/image/iotTile/LightsRGB1.jpg" class="box__img" alt="" />
          </a>
        </li>
        <li class="boxgrid__item">
          <a href="#" class="box box--cost">
            <p><span class="text--large">120€</span><br />Daily cost</p>
          </a>
        </li>
        <li class="boxgrid__item boxgrid__item--push">
          <a href="#" class="box box--video">
            <img src="https://source.unsplash.com/300x300/?art" class="box__img" alt="" />
          </a>
        </li>
        <li class="boxgrid__item">
          <a href="#" class="box box--locations">
            <p><span class="text--large">189</span><br />Locations</p>
          </a>
        </li>
      </ul>
    </div>
  </article>

    <article class="section" id="Makers_Lab" data-section>
      <header class="section__header" style="background-image: url('/static/image/room/Maker_Space.jpg');">
        <h1 class="section__title">Maker's Lab</h1>
        <p class="section__subtitle">33.378°N, -111.976°W</p>
        <div class="section__controls">
          <button class="btn btn--prev" title="Previous">
            <span class="arrow arrow--left"></span>
          </button>
          <button class="btn btn--next" title="Next">
            <span class="arrow arrow--right"></span>
          </button>
          <div class="user">
            <img src="https://source.unsplash.com/200x200/?people" class="user__img" alt="" />
            <span class="user__name">Jamie</span>
          </div>
        </div>
      </header>
      <div class="section__content">
        <ul class="boxgrid">
          <li class="boxgrid__item">
            <a href="#" class="box box--weather">
              <p><span class="text--large">22°C</span><br />Rain</p>
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--wide" id="Maker's_Lab_Light" onclick="getButton(this)">
            <a href="#" class="box box--image">
              <img src="/static/image/iotTile/Light4.jpg" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--push" id="Maker's_Lab_RGB" onclick="getButton(this)">
            <a href="#" class="box box--image">
              <img src="/static/image/iotTile/LightsRGB1.jpg" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--wide">
            <a href="#" class="box box--image">
              <img src="https://source.unsplash.com/600x400/?technology" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--push">
            <a href="#" class="box box--locations">
              <p><span class="text--large">272</span><br />Locations</p>
            </a>
          </li>
          <li class="boxgrid__item">
            <a href="#" class="box box--cost">
              <p><span class="text--large">80€</span><br />Daily cost</p>
            </a>
          </li>
          
        </ul>
      </div>
    </article>

    <!--<article class="section" id="newyork" data-section>
      <header class="section__header" style="background-image: url('https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=2000');">
        <h1 class="section__title">New York</h1>
        <p class="section__subtitle">40.42°N, 74.02°W</p>
        <div class="section__controls">
          <button class="btn btn--prev" title="Previous">
            <span class="arrow arrow--left"></span>
          </button>
          <button class="btn btn--next" title="Next">
            <span class="arrow arrow--right"></span>
          </button>
          <div class="user">
            <img src="https://source.unsplash.com/200x200/?nature" class="user__img" alt="" />
            <span class="user__name">Jamie</span>
          </div>
        </div>
      </header>
      <div class="section__content">
        <ul class="boxgrid">
          <li class="boxgrid__item boxgrid__item--wide">
            <a href="#" class="box box--image">
              <img src="https://source.unsplash.com/600x400/?art" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item">
            <a href="#" class="box box--weather">
              <p><span class="text--large">30°C</span><br />Sunny</p>
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--push">
            <a href="#" class="box box--video">
              <img src="https://source.unsplash.com/300x300/?art" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--push">
            <a href="#" class="box box--image">
              <img src="https://source.unsplash.com/300x300/?people" class="box__img" alt="" />
            </a>
          </li>
          <li class="boxgrid__item boxgrid__item--push">
            <a href="#" class="box box--locations">
              <p><span class="text--large">1.366</span><br />Locations</p>
            </a>
          </li>
          <li class="boxgrid__item">
            <a href="#" class="box box--cost">
              <p><span class="text--large">150$</span><br />Daily cost</p>
            </a>
          </li>
          <li class="boxgrid__item">
            <a href="#" class="box box--image">
              <img src="https://source.unsplash.com/300x300/?technology" class="box__img" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </article>-->
  </main>
  
  <button class="scrollctrl scrollctrl--prev" data-scroll-dir="prev">
    <span class="arrow arrow--large arrow--up"></span>
  </button>
  <button class="scrollctrl scrollctrl--next" data-scroll-dir="next">
    <span class="arrow arrow--large arrow--down"></span>
  </button>
  
  <footer class="footer">
    <p>a pen by <a href="https://twitter.com/mxbck">@mxbck</a></p>
    <p>design by <a href="https://dribbble.com/shots/2652364-Digital-Walls">Cosmin Capitanu</a></p>
    
    <p class="footer__more">
      <a href="https://codepen.io/mxbck/pen/81020404c9d5fd873a717c4612c914dd?editors=1000" target="_blank" rel="noopener noreferrer">View Source</a>
      &nbsp;&middot;&nbsp;
      <a href="https://mxb.at/blog/layouts-of-tomorrow/">Read More</a>
    </p>
  </footer>
</div>
<!-- partial -->
<!-- On page load, Page needs to receive status of lights and RGB. Determine if Smart light is on/off, and if RGB light is on/off and what color it's set to. -->
  <script  src="/static/js/Scroll.js"></script>
  <script src="/static/js/TimeDate.js"></script>
  <script src="/static/js/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function () {
      /*const date = new Date(); //Date Object
      TimeDate = new TimeDate(date); //TimeDate Object

      setTime(TimeDate);
      getAllRooms();*/

      startTime();

      const SELECTORS = {
        section: '[data-section]',
        scrollTo: '[data-scroll-to]',
        scrollDir: '[data-scroll-dir]' };


      const scrollToElements = document.querySelectorAll(SELECTORS.scrollTo);
      const scrollDirElements = document.querySelectorAll(SELECTORS.scrollDir);


      $('.close').click(function () {
        $('#myModal').hide();
        $('#LightSelector').hide();
        $('#LightRBSelector').hide();

      });


     /* $('.section').on('load', function(){

        const sectionsArray = $('[data-section]').length;
        alert(sectionsArray);
      });

      console.log(sectionsArray);*/

      $(document).on('click', '[data-scroll-to]', function (e) {
        e.preventDefault();
        //console.log(e);

        const targetId = this.getAttribute('href');
        const target = document.querySelector(targetId);

        if (target) {
          sectionsArray.forEach((section, index) => {
            if (section.id === targetId.replace('#', '')) {
              currentSectionIndex = index;
            }
          });
          target.scrollIntoView({ behavior: 'smooth' });
        }

      });

      //$(document).on('click', '[data-scroll-dir]', function (e) {

        //const direction =



     // });

    });

    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      const DayofWeek = moment(this.utc).format('ddd');
      const month     = moment(this.utc).format('MMM');
      const day       = moment(this.utc).format('DD');
      document.getElementById('date').innerHTML =
              h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i}  // add zero in front of numbers < 10
      return i;
    }

    //setInterval(setTime, 1000, TimeDate);

    function getAllRooms() {
      $.ajax({
        dataType: 'JSON',
        url: 'handler/roomHandler.php?Calling=GetAllRooms',
        type: 'POST',
        success: function(data) {
          //console.log(data);
          //console.log(data.length);

          for(let i = 1; i < data.length; i++){

            const RoomID  = data[i].ID;
            const RoomName = data[i].Name;
            const RoomDesc = data[i].Desc;
            const RoomImageSmall = data[i].ImageSmall;
            const RoomImageBig = data[i].ImageBig;
            const Picture = "image/room/" + RoomImageBig;
            const ID = RoomName.replace(/ /g,"_");

            //Room Select side
            $('.nav__menu').append( "<li class='nav__item'>"
                   + "<a href='#"+ ID + "' class='nav__link' data-scroll-to >"
                   + "<div class='media'>"
                   + "<img src='image/room/" + RoomImageSmall +"' alt='' class='media__img'>"
                   + "<p class='media__content'>"
                   + "<strong>" + RoomName +"</strong><br />"
                   + RoomDesc
                   + "</p>"
                   + "</div>"
                   + "</a>"
                   + "</li>");
            //The Actual Room
            $('.main').append("<article class='section' id='"+ ID + "' data-section>"
                      +"<header class='section__header' style='background-image: url(" + Picture + ")'>"
                      +"<h1 class='section__title'>" + RoomName + "</h1>"
                      +"<p class='section__subtitle '>" + RoomDesc + "</p>"
                      +"<div class='section__controls'>"
                      +"<button class='btn btn--prev' title='Previous'>"
                      +"<span class='arrow arrow--left'></span>"
                      +"</button>"
                      +"<button class='btn btn--next' title='Next'>"
                      +"<span class='arrow arrow--right'></span>"
                      +"</button>"
                      +"<div class='user'>"
                      +"<img src='https://source.unsplash.com/200x200/?people' class='user__img' alt='' />"
                      +"<span class='user__name'>Jamie</span>"
                      +"</div>"
                      +"</div>"
                      +"</header>"
                      +"<div class='section__content'>"
                      +"<ul class='boxgrid'>"
                      +"</ul>"
                      +"</div>"
                      +"</article>");

            GetRoomData(RoomID, ID);
          }


        },
        error: function (request, status, error) {
          console.log(request.responseText);
          console.log(status);
          console.log(error);
        }
      });


    }

    function GetRoomData(RoomID, SectionID) {

      $.ajax({
        url: 'handler/iotHandler.php?Calling=GetIoTDevicesInRoom&RoomID=' + RoomID,
        type: 'POST',
        dataType: 'json',
        success: function(data) {
          console.log(data);

          for(let i = 1; i < data.length; i++){

            const DeviceName  = data[i].Name;
            const IPAddress   = data[i].IP;
            const Type        = data[i].Type[0];
            const Hostname    = data[i].Hostname;
            const PictureName = data[i].ImageNumber;

            //boxgrid__item--wide

            if(i === 3 || i === 5 || i === 10){
              $('#' + SectionID + ' .boxgrid').append(" <li class='boxgrid__item boxgrid__item--wide'>"
                      +"        <a href='#' onclick='openIoTDevice()' class='box box--image'>"
                      +"            <img src='image/iotTile/" + PictureName + ".jpg' width='200' height='200' class='box__img' alt='' />"
                      +"        </a>"
                      +"    </li>");
            }else{
              $('#' + SectionID + ' .boxgrid').append(" <li class='boxgrid__item '>"
                      +"        <a href='#' onclick='openIoTDevice()' class='box box--image'>"
                      +"            <img src='image/iotTile/" + PictureName + ".jpg' width='200' height='200' class='box__img' alt='' />"
                      +"        </a>"
                      +"    </li>");
            }


          }

        },
        error: function (request, status, error) {
          console.log(request.responseText);
          console.log(status);
          console.log(error);
        }
      });


    }
    
    function setTime(TimeDate){


      const currentDate = TimeDate.Date();
      const currentTime = TimeDate.TimeNormal();

      //console.log("timeUpdated");
      $('#date').text(currentDate + ' | ' + currentTime);
    }

    <!-- Button needs to be able to determine what room is active, and send/receive commands to/from all relevant devices -->
    function getButton(button) {
        let x = button.id;
        switch (x) {
            case 'Add_Room':
                $('#myModal').show();
                break;
            case 'Engineering_Lab_Light':
                $('#LightSelector').show();
                break;
            case 'Engineering_Lab_RGB':
                $('#LightRBSelector').show();
                break;
            default:
                return false;
        }
      }

    <!-- Button needs to be able to send commands to Smart light devices -->
    function Lights(button) {
        let x = button.id;
        switch (x) {
            case 'Light_On':
                document.getElementById('LightStatusMessage').innerHTML = "Smart Light is on!";
                break;
            case 'Light_Off':
                document.getElementById('LightStatusMessage').innerHTML = "Smart Light is off!";
                break;
            default:
                break;
        }
    }

    <!-- Button needs to be able to send commands to RGB light devices -->
    function RGB(button) {
        let x = button.id;
        switch (x) {
            case 'RGB_On':
                $('#RGB_status_On').show();
                $('#RGB_status_Off').hide();
                $('#RGB_Color').show();
                document.getElementById('RGB_status_Message').innerHTML = "RGB Light is on!";
                break;
            case 'RGB_Off':
                $('#RGB_status_Off').show();
                $('#RGB_status_On').hide();
                $('#RGB_Color').hide();
                document.getElementById('RGB_status_Message').innerHTML = "RGB Light is off!";
                break;
            default:
                break;
        }
    }

    <!-- Button needs to be able to send commands to RGB light devices -->
    function RGB_Color(button) {
        let x = button.id;
        switch (x) {
            case 'Orange':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Orange!";
                break;
            case 'Amber':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Amber!";
                break;
            case 'Lime':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Lime!";
                break;
            case 'Teal':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Teal!";
                break;
            case 'Blue':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Blue!";
                break;
            case 'Indigo':
                document.getElementById('RGB_Colors').innerHTML = "RGB Light set to Indigo!";
                break;
            default:
                break;
        }
    }

        function openIoTDevice(/*Type, IPAddress, DeviceName*/) {
          //e.preventDefault();
          //console.log(Type + ' ' + IPAddress + ' ' + DeviceName);
          $('#LightSelector').show();


        }
    </script>
    <script>
        let socket = io('/iot-control');

        socket.on('client_data', function (clients) {
            console.log(clients);
        });

        socket.on('new_client', function (client) {
            console.log(client);
        });

        socket.on('remove_client', function (uuid) {
            console.log(uuid);
        });
    </script>
</body>
</html>